{% extends 'base.html' %}
{% block content %}

                <div class="msg8">
                <h3>Employee Detail </h3>
                <br><br>
             <ul>
         <li>  <strong>Name:</strong>  {{jsondetail.name}}</li><br><br>
         <li> <strong>Age:</strong> {{jsondetail.age}}</li><br><br>
          <li> <strong>Salary:</strong> {{jsondetail.salary}}</li>
          
          </ul>    
           <br>   
          
            
    
                    
               
             </div>
              
              
{% endblock %}
</body>
</html>