 {% extends 'base.html' %}
 {% block content %}  
 <style>
   select{
        width: 200px;
        border-radius: 5px;
        height: 27px;
        background-color:#9fa8a3;
        
    }
    select:focus, select:hover {
          outline:none;
          border: 1px solid green;
    } 
    select option {
        background:#9fa8a3;
        }
        input{
        width: 200px;
        border-radius: 5px;
        height: 25px;
        border-style:solid;
        border-color: whitesmoke;
       
       
    }
     input:focus, input:hover {
          outline:none;
          border: 1px solid green;
    } 
 </style> 
<body>


   <form method="post" style="width:300px;margin:auto">
       {% csrf_token %}
      <br> <br>
  <pre>
    <div style="display: flex;
    justify-content: space-between;
    align-items: center;">  <label>Vehicle Number</label><input type="text"  name="vehicle_number" ><br><br></div> 
      <div style="display: flex;
    justify-content: space-between;
    align-items: center;">  <label >Vehicle Model</label><input type="text"  name="vehicle_model"><br><br></div> 
      <div style="display: flex;
    justify-content: space-between;
    align-items: center;">  <label > Vehicle Description</label><input type="text"  name="vehicle_description"><br><br></div> 
      <div style="display: flex;
    justify-content: space-between;
    align-items: center;"><label >Vehicle Type</label>          <select name="vehicle_type"> 
                <option value=""selected disable hidden >select vehicle</option>
                <option value="two wheeler ">two wheeler </option>
                <option value="theee wheeler ">three wheeler</option>
                <option value="four wheeler ">four wheeler </option>
                </select></div> 
  
        
      <br><br>
  <button type="submit" style="background-color: #36454f; color:white;width:150px;height:30px">Submit</button></a><br><br><br>
 
  
  </pre>
      
   </form>

      

 {% endblock %}    
</body>
</html>