{% extends 'base.html' %}
{% block content %}   


 {% if user.is_superuser or user.is_staff %} 
         {% for cardetail in carDetail %}
       
        <div class="msg8">
          
         
        <h5> {{ cardetail.vehicle_model }} </h5>
        <P> {{ cardetail.vehicle_number}} </p>
          <P> {{ cardetail.vehicle_type }} </p>
              <P>{{ cardetail.vehicle_description }}  </p>
                
            <form method="post">
                        {% csrf_token %}
            
                        <input type="text" value="{{cardetail.vehicle_number}}" name="vehicle_number" hidden>   

               <button type="submit" class="btn btn-primary"  style="border:none;background-color:blue;display:inline-block;position: absolute;"> Edit  </button> </form>    <br><br>      
      </div>
      {% endfor %}
   {% else %}
    {% for cardetail in carDetail %}
    <div class="msg8">
          
         
        <h5> {{ cardetail.vehicle_model }} </h5>
        <P> {{ cardetail.vehicle_number}} </p>
          <P> {{ cardetail.vehicle_type }} </p>
              <P>{{ cardetail.vehicle_description }}  </p>
                 
      </div>
      {% endfor %}
      {% endif %}
   
 
  
{% endblock %}
</body>
</html>